body{
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.searbar,
.form-select{
    position: relative;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.searbar input{
    padding: 1rem;
    padding-left: 2.5rem;
}

.searbar .iconify{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.card{
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card .card-img-top{
    aspect-ratio: 16/9;
}